*.gem
.bundle
Gemfile.lock
gemfiles/*.lock
coverage/*
pkg/*

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/spec/internal/db/*.sqlite3
/test/dummy/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/spec/internal/log
log
tmp
